/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gfs-neohellenic: "GFS Neohellenic";
  --font-gowun-dodum: "Gowun Dodum";
  --font-lora: Lora;
  --font-gilda-display: "Gilda Display";

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-xl: 20px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-37xl: 56px;
  --font-size-26xl: 45px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --font-size-41xl: 60px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-32xl: 51px;
  --font-size-77xl: 96px;
  --font-size-109xl: 128px;

  /* Colors */
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.85);
  --color-gray-700: rgba(255, 255, 255, 0.9);
  --color-gray-200: rgba(6, 28, 49, 0.85);
  --color-gray-300: rgba(255, 255, 255, 0.7);
  --color-gray-400: rgba(255, 255, 255, 0.84);
  --color-gray-500: rgba(255, 255, 255, 0.8);
  --color-gray-600: rgba(255, 255, 255, 0.12);
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-100: rgba(217, 217, 217, 0.4);
  --color-gainsboro-200: rgba(217, 217, 217, 0.15);
  --color-white: #fff;
  --color-steelblue: rgba(85, 92, 132, 0.44);
  --color-lightslategray: rgba(125, 130, 171, 0.44);
  --color-red: rgba(234, 34, 34, 0.87);

  /* Gaps */
  --gap-3xl: 22px;
  --gap-26xl: 45px;
  --gap-4xl: 23px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-3xs-5: 9.5px;
  --gap-11xs: 2px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-15xl: 34px;
  --gap-50xl: 69px;
  --gap-mid: 17px;
  --gap-95xl: 114px;
  --gap-38xl: 57px;
  --gap-25xl: 44px;
  --gap-27xl: 46px;
  --gap-9xl: 28px;
  --gap-16xl: 35px;
  --gap-5xs-9: 7.9px;
  --gap-14xl-9: 33.9px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-base: 16px;
  --gap-63xl: 82px;
  --gap-22xl: 41px;
  --gap-xl: 20px;
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-32xl: 51px;
  --gap-7xl: 26px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-44xl: 63px;
  --gap-13xl: 32px;
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-5xl: 24px;
  --gap-51xl: 70px;
  --gap-66xl: 85px;
  --gap-19xl: 38px;
  --gap-18xl: 37px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-35xl: 54px;
  --gap-49xl: 68px;
  --gap-28xl: 47px;
  --gap-73xl: 92px;
  --gap-45xl: 64px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-6xl: 25px;
  --gap-10xl: 29px;
  --gap-167xl: 186px;
  --gap-74xl: 93px;
  --gap-67xl: 86px;
  --gap-31xl: 50px;
  --gap-52xl: 71px;
  --gap-98xl: 117px;
  --gap-39xl: 58px;
  --gap-123xl: 142px;
  --gap-55xl: 74px;
  --gap-70xl: 89px;

  /* Paddings */
  --padding-36xl: 55px;
  --padding-51xl: 70px;
  --padding-16xl: 35px;
  --padding-29xl: 48px;
  --padding-38xl: 57px;
  --padding-21xl: 40px;
  --padding-12xl: 31px;
  --padding-9xl: 28px;
  --padding-7xl: 26px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-3xl: 22px;
  --padding-8xl: 27px;
  --padding-64xl: 83px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-11xs: 2px;
  --padding-2xl: 21px;
  --padding-17xl: 36px;
  --padding-27xl: 46px;
  --padding-31xl: 50px;
  --padding-2xs: 11px;
  --padding-33xl: 52px;
  --padding-13xl: 32px;
  --padding-15xl: 34px;
  --padding-63xl: 82px;
  --padding-59xl: 78px;
  --padding-6xl: 25px;
  --padding-43xl: 62px;
  --padding-4xl: 23px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-53xl: 72px;
  --padding-30xl: 49px;
  --padding-5xl: 24px;
  --padding-52xl: 71px;
  --padding-11xl: 30px;
  --padding-178xl: 197px;
  --padding-58xl: 77px;
  --padding-19xl: 38px;
  --padding-34xl-9: 53.9px;
  --padding-26xl: 45px;
  --padding-3xs: 10px;
  --padding-5xs-4: 7.4px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-8xl-9: 27.9px;
  --padding-147xl: 166px;
  --padding-base-7: 15.7px;
  --padding-22xl: 41px;
  --padding-57xl: 76px;
  --padding-41xl: 60px;
  --padding-42xl: 61px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-18xl: 37px;
  --padding-45xl: 64px;
  --padding-47xl: 66px;
  --padding-69xl: 88px;
  --padding-117xl: 136px;
  --padding-84xl: 103px;
  --padding-32xl: 51px;
  --padding-54xl: 73px;
  --padding-98xl: 117px;
  --padding-20xl: 39px;
  --padding-34xl: 53px;
  --padding-46xl: 65px;
  --padding-44xl: 63px;
  --padding-39xl: 58px;
  --padding-14xl: 33px;
  --padding-41xl-9: 60.9px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-20xl: 39px;
  --br-12xl: 31px;
  --br-13xl: 32px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-6xs: 7px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-31xl: 50px;
  --br-81xl: 100px;
  --br-26xl: 45px;
}